<p id="notice"><%= notice %></p>

<p>
  <strong>Word from:</strong>
  <%= @word_friend.word_from %>
</p>

<p>
  <strong>Word to:</strong>
  <%= @word_friend.word_to %>
</p>

<p>
  <strong>Traced by:</strong>
  <%= @word_friend.traced_by %>
</p>

<p>
  <strong>Traced last by:</strong>
  <%= @word_friend.traced_last_by %>
</p>

<%= link_to 'Edit', edit_word_friend_path(@word_friend) %> |
<%= link_to 'Back', word_friends_path %>
