<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= link_to 'Word Lengths', word_lengths_path %>
<br/>

<%= link_to 'Words', words_path %>
<br/>

<%= link_to 'Histograms', histograms_path %>
<br/>

<%= link_to 'Hist Friends', hist_friends_path %>
<br/>

<%= link_to 'Word Friends', word_friends_path %>
<br/>

<%= link_to 'Social Nodes', social_nodes_path %>
<br/>
