<%= form_for(hist_friend) do |f| %>
  <% if hist_friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hist_friend.errors.count, "error") %> prohibited this hist_friend from being saved:</h2>

      <ul>
      <% hist_friend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hist_from_id %>
    <%= f.text_field :hist_from_id %>
  </div>

  <div class="field">
    <%= f.label :hist_to_id %>
    <%= f.text_field :hist_to_id %>
  </div>

  <div class="field">
    <%= f.label :traced_by %>
    <%= f.text_area :traced_by %>
  </div>

  <div class="field">
    <%= f.label :traced_last_by %>
    <%= f.text_field :traced_last_by %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
