<p id="notice"><%= notice %></p>

<h1>Word Lengths</h1>

<table>
  <thead>
    <tr>
      <th>Length</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @word_lengths.each do |word_length| %>
      <tr>
        <td><%= word_length.length %></td>
        <td><%= link_to 'Show', word_length %></td>
        <td><%= link_to 'Edit', edit_word_length_path(word_length) %></td>
        <td><%= link_to 'Destroy', word_length, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Word Length', new_word_length_path %>
